.stats-inputs {
  display: grid;
  grid-template-columns: 9% repeat(7, 12.5%);
  // grid-template-rows: repeat(auto-fill, 5vh);
  justify-items: center;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  row-gap: 12px;
  max-height: 300px;
  overflow-y: auto;

  .stats-names {
    color: var(--poke-muted);
    font-size: 1.3rem;
  }

  .input-wrapper {
    padding: 1px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .evs {
    margin-top: -6px;

    &.title {
      align-self: end;
      justify-self: end;
      padding-right: 11px;
      font-size: 1.3rem;
    }
  }

  @media (max-width: 768px) {
    .evs.title {
      padding-right: 3px;
    }
  }

  .stat-input {
    width: 100%;
    text-align: center;
    cursor: text;
    font-size: 1.3rem;
  }

  /* Chrome, Safari, Edge, Opera */
  .stat-input::-webkit-outer-spin-button,
  .stat-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  .stat-input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  .remove-observation {
    padding: 7px 15px;
    background: transparent;
    border: 0.5px solid var(--poke-muted);
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.15s, transform 0.1s;
    color: rgb(250, 249, 245);

    svg {
      width: 22px;
      height: 22px;
    }

    &:hover {
      background: rgba(38, 38, 36, 1);
    }
  }

  @media (max-width: 768px) {
    .remove-observation {
      height: 100%;
      padding: 0;
      border: 0;
    }
  }
}

@media (max-width: 768px) {
  .stats-inputs {
    grid-template-columns: 11% repeat(6, 12.5%) 6%;
    // justify-content: space-around;

    .stats-names {
      font-size: 1rem;
      margin: 0;
    }

    .input-wrapper {
      padding: 1px 0px;
      margin: 0;

      .stat-input {
        font-size: 1rem;
      }
    }
  }
}